<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HumaneSociety" connectionString="Data Source=DESKTOP-OO7I4LJ\SQLEXPRESS;Initial Catalog=HumaneSociety;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>